.product-image{
    height : 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}


.btn-checkout{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}